# dependencies
/node_modules

# next.js build output
/.next/
/out/

# production builds
/build

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# deployment output
/.vercel/

# misc
.DS_Store
*.tsbuildinfo
